<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ title }} - User Feedback</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <style type="text/css">
        body, html {
            margin:0;
            padding: 0;
        }

        body {
            font: 12pt Arial, sans-serif;
            position: relative;
            background-color: white;
        }

        form{
            margin:0 auto;
            font-weight:bold;
        }

        .wrap{
            padding:5px 0;
            margin:10px 0;
        }

        .tip{
            width:40%;
            padding-right:20px;
            float:left;
            text-align: right;
        }
        /* Style the navigation bar links */
        .navbar a {
          color: forestgreen;
          padding: 14px 20px;
          text-decoration: none;
          text-align: center;
        }

        /* Change color on hover */
        .navbar a:hover {
          background-color: #ddd;
          color: black;
        }
    </style>
</head>
<body>

        <div class="navbar">
            <a href="{{ url_for('movie_degree3') }}">Go back</a>
            <a id="finish" >Finish</a>
        </div>

        <form id="question1" class="question">
            <div class="wrap">
              <label class="tip">How often will you watch a movie you think in the future</label>
              <input type="radio" name="question1" value="1"/>several days
              <input type="radio" name="question1" value="2"/>once a week
              <input type="radio" name="question1" value="3"/>once a month
            </div>
        </form>

        <form id="question2" class="question">
            <div class="wrap">
              <label class="tip">How often will you visit a movie recommendation website you think in the future</label>
              <input type="radio" name="question2" value="1"/>several days
              <input type="radio" name="question2" value="2"/>once a week
              <input type="radio" name="question2" value="3"/>once a month
            </div>
        </form>
         
        <form id="question3" class="question">
            <div class="wrap">
              <label class="tip">Do you know Recommendation System more after the User Study</label>
              <input type="radio" name="question3" value="1"/>No
              <input type="radio" name="question3" value="2"/>a little
              <input type="radio" name="question3" value="3"/>Yes
            </div>
        </form>

        <form id="question4" class="question">
            <div class="wrap">
              <label class="tip">Do you know Explainable Recommendation System more after the User Study</label>
              <input type="radio" name="question4" value="1"/>No
              <input type="radio" name="question4" value="2"/>a little
              <input type="radio" name="question4" value="3"/>Yes
            </div>
        </form>

        <form id="question5" class="question">
            <div class="wrap">
              <label class="tip">How often will you use a Recommend System you think in the future</label>
              <input type="radio" name="question5" value="1"/>several days
              <input type="radio" name="question5" value="2"/>once a week
              <input type="radio" name="question5" value="3"/>once a month
            </div>
        </form>

         <form id="question6" class="question">
            <div class="wrap">
              <label class="tip">How would you describe your overall experience with Recommend System after the User Study</label>
              <input type="radio" name="question6" value="1"/>not good
              <input type="radio" name="question6" value="2"/>general feeling
              <input type="radio" name="question6" value="3"/>good
            </div>
        </form>

        <form id="question7" class="question">
            <div class="wrap">
              <label class="tip">Do you think that our recommendation system recommended the right movies to you?</label>
              <input type="radio" name="question7" value="1"/>No
              <input type="radio" name="question7" value="2"/>a little
              <input type="radio" name="question7" value="3"/>Yes
             </div>
        </form>

        <form id="question8" class="question">
            <div class="wrap">
              <label class="tip">Is explanation adaptation (from round1 to round2 to round3) helpful to improve the explainability of this Recommend System</label>
              <input type="radio" name="question8" value="1"/>No
              <input type="radio" name="question8" value="2"/>a little
              <input type="radio" name="question8" value="3"/>Yes
             </div>
        </form>

        <form id="question9" class="question">
            <div class="wrap">
              <label class="tip">Do you think the recommended movies are more and more in line with what you expect</label>
              <input type="radio" name="question9" value="1"/>No
              <input type="radio" name="question9" value="2"/>a little
              <input type="radio" name="question9" value="3"/>Yes
             </div>
        </form>

        <form id="question10" class="question">
            <div class="wrap">
              <label class="tip">Do you think the recommended movies are more and more in line with what you really need (from round1 to round2 to round3)</label>
              <input type="radio" name="question10" value="1"/>No
              <input type="radio" name="question10" value="2"/>a little
              <input type="radio" name="question10" value="3"/>Yes
             </div>
        </form>

        <script type="text/javascript">
            $(document).ready(function(){
                var question_result_list = [0,0,0,0,0,0,0,0,0,0];
                $('.question').change(function () {

                    var question_name = this.id;
                    var searchStr = 'input:radio[name="question_name"]:checked'.replace('question_name',question_name);

                    var input_value = $(searchStr).val();
{#                    alert(input_value);#}
                    var question_result_list_index = parseInt(this.id.substr(8))-1;
                    question_result_list[question_result_list_index] = parseInt(input_value);
                });

                $('#finish').on('click',function () {
                    if(question_result_list.join('').includes('0')){
                        alert('Please answer all the question!');
                    } else{
                        var data = {'user_id':sessionStorage.user_id,'question_result_list':question_result_list.join('')};
                        $.post('{{ url_for('question_result_transfer2') }}',data,function (response) {
                            if(response){
                                alert('The User Study is finished. Thanks!');
                            }
                        });
                    }
                });
            });

        </script>

</body>
</html>